{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" media="mediatype and|not|only (expressions)">
<style>



</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'polls/css/style.css' %}" rel="stylesheet">
    <title>whoismypresident?</title>

</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
maximum-scale=1.0, minimum-scale=1.0">

<body class="body">
<div class="jua">
    <div class="catch">
        <span class="right"></span>
        <span class="left"></span>
        <span class="top"></span>
        <span class="bottom"></span>
        <div class="bounce">
                <img src="{% static 'polls/images/presidenthouse.png' %}" style="padding-top: 50px;"width="110">
        </div>
        <form style="margin-top: -50px; "action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <div class="word" style="text-align:center;"><p>{{ question.question_text|safe }}</p></div>
            {% if error_message %}<p style="color: #d9849b;"><strong>선택해주세요!!</strong></p>{% endif %}
            <div  style="padding-top: 30px">
                {% for choice in question.choice_set.all %}
                <label>
                    <input type="radio" class="option-input radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
                    {{ choice.choice_text|safe }}
                </label><br>
                {% endfor %}
            </div>
            <div style="position:relative; padding-top:5%;"></div>
            <button class="next">next</button>
        </form>




        <!--<div class=qa>
        {% for choice in question.choice_set.all %}
        <label>
        <input type="radio" class="option-input radio" name="choice" />
        {{ choice.choice_text }}
        </label>
        {% endfor %}
        </div> -->


        <div style="position:relative; padding-top:5%;"></div>


        <div class="fade-in-box">
            <p style="text-align:center;font-size:50%;line-height: 10px;"><br></p>
            <img src="{% static 'polls/images/vote.png' %}"
                 style="display: block; margin: 0 auto; width:100px; height:100px; padding-top: 20px; padding-bottom: 40px;">
        </div>

    </div>
</div>
</body>

</html>