{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" media="mediatype and|not|only (expressions)">
<style>

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'polls/css/style.css' %}" rel="stylesheet">
    <title>lastdetail</title>

</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,
maximum-scale=1.0, minimum-scale=1.0">

<body class="body">
<div class="jua">
    <div class="catch">
        <span class="right"></span>
        <span class="left"></span>
        <span class="top"></span>
        <span class="bottom"></span>
        <form action="{% url 'polls:result' question.id %}" method="post">
            {% csrf_token %}
            <legend><h1 style="padding-top: 35px;">{{ question.question_text }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <div class="game-options-container" style="padding-top: 30px">
            {% for choice in question.choice_set.all %}
                 <span>
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                </span>
            {% endfor %}
            </div>
            <div style="position:relative; padding-top:5%;"></div>
            <input  type="submit" value="vote">
        </form>


        <div style="position:relative; padding-top:5%;"></div>


        <div class="fade-in-box">
            <p style="text-align:center;font-size:50%;line-height: 10px;"><br></p>
            <img src="{% static 'polls/images/vote.png' %}"
                 style="display: block; margin: 0 auto; width:100px; height:100px; padding-top: 20px; padding-bottom: 40px;">
        </div>

    </div>
</div>
</body>

</html>